//// COMPUTE THE MINIMUM OF TWO VALUES
function Sys.min 0
    push argument 0
    push argument 1
    lt
    if-goto SYS_MIN_FIRST_IS_SMALLER

    push argument 1
    return

label SYS_MIN_FIRST_IS_SMALLER
    push argument 0
    return



//// COMPUTE THE MAXIMUM OF TWO VALUES
function Sys.max 0
    push argument 0
    push argument 1
    gt
    if-goto SYS_MAX_FIRST_IS_BIGGER

    push argument 1
    return

label SYS_MAX_FIRST_IS_BIGGER
    push argument 0
    return



//// COMPUTE THE RANGE OF AN ARRAY.
// ARG0 = memory address where the array starts
// ARG1 = number of elements in the array
//
// local 0 = current minimum
// local 1 = current maximum
// local 2 = index
// local 3 = current array value
function Sys.range 4
    // If n <= 1, range is 0.
    push argument 1
    push constant 1
    gt
    if-goto SYS_RANGE_START

    push constant 0
    return

label SYS_RANGE_START
    // Read array[0] into min.
    push argument 0
    pop pointer 1
    push that 0
    pop local 0

    // Read array[0] into max.
    push argument 0
    pop pointer 1
    push that 0
    pop local 1

    // index = 1
    push constant 1
    pop local 2

label SYS_RANGE_LOOP
    // while index < n
    push local 2
    push argument 1
    lt
    if-goto SYS_RANGE_BODY
    goto SYS_RANGE_END

label SYS_RANGE_BODY
    // current = array[index]
    push argument 0
    push local 2
    add
    pop pointer 1
    push that 0
    pop local 3

    // min = Sys.min(min, current)
    push local 0
    push local 3
    call Sys.min 2
    pop local 0

    // max = Sys.max(max, current)
    push local 1
    push local 3
    call Sys.max 2
    pop local 1

    // index = index + 1
    push local 2
    push constant 1
    add
    pop local 2

    goto SYS_RANGE_LOOP

label SYS_RANGE_END
    // return max - min
    push local 1
    push local 0
    sub
    return



// The emulator will start executing from here.
// Keep this version when running Sys.tst.
function Sys.init 0
    call Sys.range 2
label WHILE
    goto WHILE
